<%- include("partials/ad_sidebar.ejs"); %>
<%- include("partials/table.ejs"); %>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
    <!-- Sidebar -->

  </div>

  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10"  style="width:95%; padding-left: 20rem;">
    <br>
    <div class="row">
      <a href="account/add">
        <button type="button" class="btn btn-outline-success" style="float: right; margin-bottom: 0.5rem;">Create new account</button>
      </a>
    </div>
    <table id="example" class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% account.forEach((acc)=>{%>
            <tr>
              <td><%= acc.username%></td>
              <td><%= acc.password%></td>
              <td><%= acc.email%></td>
              <td>
                <% if (acc.role == '0') {%> Admin
                <%} else if (acc.role == '1') {%> Patient
                <%} else { %> Hospital <%}%>
              </td>
              <td>
                <div class="row">
                  <div class="col" style="max-width:10%;">
                <a href="account/update/<%= acc._id%>" class="text-success">
                  <i class="fa-solid fa-pencil" style="margin-top: 0.5rem"></i>
                </a>
              </div>
              <div class="col">
                <form action="account/delete/<%= acc._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn">
                    <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                  </button>
                </form>
              </div>
              </td>
            </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>