<%- include("partials/ad_sidebar.ejs"); %>
<%- include("partials/table.ejs"); %>
<script defer src="../public/js/date.js"></script>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
    <!-- Sidebar -->

  </div>

  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10" style="width:95%; padding-left: 20rem;">
    <br>
    <!-- <div class="row">
      <a href="appointment/add">
        <button type="button" class="btn btn-outline-success" style="float: right; margin-bottom: 0.5rem;">Create new appointment</button>
      </a>
    </div> -->
    <table id="example" class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th>Profile ID</th>
          <th>Doctor ID</th>
          <th>Specialist</th>
          <th>Date</th>
          <th>Shift</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% appointment.forEach((apt)=>{%>
          <%let D = new Date(apt.date);%>
          <%const options = {month: 'long', day: 'numeric', year: 'numeric' };%>
          <%D = D.toLocaleString('en-US', options);%>
        <tr>
          <td><%= apt.profileID%></td>
          <td><%= apt.doctorID%></td>
          <td><%= apt.specialist%></td>

          <td><%= D%></td>
          <td style="min-width: 150px;">
            <%= apt.time%>
            <% if (apt.time == '1') {%> (7:30 - 9:30) 
              <%} else if (apt.time == '2') {%> (9:30 - 11:30) 
              <%} else if (apt.time == '3') {%> (13:30 - 15:30)
              <%} else {%> (15:30 - 17:30) <%}%>
          </td>
          <td>
            <div class="row">
              <div class="col" style="max-width:10%;">
                <a href="appointment/update/<%= apt._id%>" class="text-success">
                  <i class="fa-solid fa-pencil" style="margin-top: 0.5rem"></i>
                </a>
              </div>
              <div class="col">
                <form action="appointment/delete/<%= apt._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn">
                    <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                  </button>
                </form>
              </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>